@page
@model IndexModel
@{
    Layout = null;
    var serializerSettings = new JsonSerializerSettings();
    serializerSettings.ContractResolver = new CamelCasePropertyNamesContractResolver();
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="Yunior Miguel Laureano">
    <meta name="copyright" content="Yunior Miguel Laureano">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Cake</title>
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <style>
        .body-modal {
            overflow: hidden;
            padding-right: 17px;
        }
    </style>
</head>
<body>
    <div class="page-holder">
        <partial name="_Home_Navbar" />
        <div class="container pb-3 bg-cover bg-center d-flex align-items-center" style="background-image: url('https://images.heb.com/is/image/HEBGrocery/002127574');height: 30%;background-repeat: no-repeat;background-position: center; background-size: contain;box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;margin-top:14px">
            <section>
                <div class="container py-5">
                </div>
            </section>
        </div>
        <div class="container">
            <section class="py-5">
                <header class="text-center">
                    <h2 class="h5 text-uppercase mb-4">Pasteles</h2>
                    <div class="row">
                        <form class="d-flex justify-content-end" method="get" asp-page-handler="OnGet">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" asp-for="Search" placeholder="Nombre Del Pastel">
                                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @if(Model.CategoryId == null || Model.CategoryId == 0)
                            {
                                <li class="breadcrumb-item active" aria-current="page">Todos</li>
                            }
                            else
                            {
                                <li class="breadcrumb-item"><a href="/">Todas</a></li>
                            }

                            @foreach(var category in Model.Categories)
                            {
                                @if(category.Id == Model.CategoryId)
                                {
                                    <li class="breadcrumb-item active" aria-current="page">@category.Name</li>    
                                }
                                else
                                {
                                    <li class="breadcrumb-item"><a href="/?categoryId=@category.Id">@category.Name</a></li>    
                                }
                            }
                        </ol>
                    </nav>
                </header>
                <div id="root-react-app"></div>
            </section>
        </div>
        <partial name="_Home_Footer" />
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
             @*window.antiForgeryToken = "@antiforgery.GetTokens(HttpContext).RequestToken";*@
                window.bcakes = @Html.Raw(JsonConvert.SerializeObject(Model.Catalog.CatalogDetailListDto, serializerSettings));
        </script>
        <script src="~/js/app/vendor.js" asp-append-version="true"></script>
        <script src="~/js/app/Home.js" asp-append-version="true"></script>
    </div>
</body>
</html>