@page
@model OamCake.Web.Pages.Admin.Category.AddModel
@{
    ViewData["Page"] = "Formulario de Categorias";
    ViewData[nameof(PageTypes)] = PageTypes.CategoryEntry;
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Formulario de Categorias</h5>
                    <form method="post" class="row g-3">
                        <input type="hidden" asp-for="Category.Id" />                        
                        <div class="col-12">
                            <label for="input-phone" class="form-label">Categoria</label>
                            <div class="input-group input-group-outline">
                                <input asp-for="Category.Name" type="text" class="form-control" id="input-phone">
                                <span asp-validation-for="Category.Name"></span>
                            </div>
                        </div>                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary"> <i class='bx bx-save'></i> Guardar</button>
                            <a href="/admin/category/list" class="btn btn-light"><i class='bx bx-window-close'></i> Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>