<header class="header bg-light">
    <div class="container px-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0">
            @*<a class="navbar-brand" href="/"><span class="fw-bold text-uppercase text-dark">Dis</span></a>*@
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- Link--><a class="nav-link active" href="/">Home</a>
                    </li>
                    @if(User.Claims.Any(x => x.Type == Constants.CLAIM_ADMIN)) {
                        <li class="nav-item">
                            <!-- Link--><a class="nav-link" href="/Admin/">Inventario</a>
                        </li>
                    }
                    @*<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a><a class="dropdown-item border-0 transition-link" href="shop.html">Category</a><a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a><a class="dropdown-item border-0 transition-link" href="cart.html">Shopping cart</a><a class="dropdown-item border-0 transition-link" href="checkout.html">Checkout</a></div>
                        </li>*@
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (User.Claims.Any(x => x.Type == Constants.CLAIM_ID))
                    {
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                <span class="d-none d-md-block dropdown-toggle ps-2">@User.Identity?.Name</span> <i class="bi bi-person"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                <li>
                                    <a class="dropdown-item" href="/Account/EditUser">
                                        <i class='bx bx-edit'></i>
                                        <span>Editar</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="/Account/Logout">
                                        <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" href="/Account/Login"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</header>